<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>Колонизация</title>
 </head>
    <body>
      <h1>Жди нас, Марс!</h1>
      <img src='static/img/mars.jpg' height="400"  alt="Иллюстрация", align="middle">
      <table width="57%">
          <tr>
             <td bgcolor="#E6E6FA"><h3>Человечество вырастает из детства.</h3></td>
          </tr>
          <tr>
             <td bgcolor="#EE82EE"><h3>Человечеству мала одна планета.</h3></td>
          </tr>
          <tr>
             <td bgcolor="#F0FFF0"><h3>Мы сделаем обитаемыми безжизненные пока планеты.</h3></td>
          </tr>
          <tr>
             <td bgcolor="#FFDEAD"><h3>И начнем с Марса!</h3></td>
          </tr>
          <tr>
             <td bgcolor="#87CEEB"><h3>Присоединяйся!</h3></td>
          </tr>
      </table>

    </body>
</html>
