<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>Результаты</title>
 </head>
    <body>
      <h1>Результаты отбора</h1>
      <h2>Претендента на участие в миссии {nickname}</h2>
      <table width="57%">
          <tr>
             <td bgcolor="#008000"><h3>Поздравляем! Ваш рейтинг после {level} этапа отбора</h3></td>
          </tr>
          <tr>
             <td bgcolor="#FFFFFF"><h3>Составляет {rating}</h3></td>
          </tr>
          <tr>
             <td bgcolor="#FFFF00"><h3>Желаем удачи</h3></td>
          </tr>

      </table>


    </body>

</html>